// .no-svg .etb-course {
// 	background: url(../icons/etb-icons/etb-course-36px.png);
// }

img.svg {
	width:1.5rem;
}
.etb-course {
	opacity:0.5;
	float:left;
	margin-top: 0.5rem;
}

.haxicons-add-row {
  background: url('../icons/hax-icons/add-row.svg') no-repeat center center;
  width: 5em;
  height: 5em;
  margin-left: -.5em;
  display: inline-block;
}
